*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --header-background-color: rgb(237, 106, 90);
    --main-background-color: rgb(244, 241, 187);
    --footer-background-color: rgb(155, 193, 188);
}

body
{
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;    
}

table
{
    border-collapse: collapse;
    text-align: center;
    align-self: center;
}

td, th
{
    border: 1px solid #333;
}


h1, h2, h3
{
    margin-bottom: 3px;
}

a
{
    text-decoration: none;
    color: rgb(216, 219, 30);
}

a:hover
{
    text-decoration: underline;
}

.header, .main, .footer
{
    margin: 20px 0px 20px 0;
}

.header p, q
{
    color: #000;
    font-size: 1.4em;
    text-shadow: 1px 3px #d22395;
    font-weight: bolder;
}

.header
{
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
    letter-spacing: 1.1px;
    word-spacing: 4px;
    padding: 1em;
    position: relative;
}

.header::before, .main::before, .footer::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    opacity: 0.93;
    filter: blur(1px);
    pointer-events: none;
}

.header::before
{
    background-image: url('/img/BackgroundRed.png');
    z-index: -1;
    top: -400%;
    outline: 5px solid #3e1634;
}

.main::before {
    content: "";
    position: absolute;
    background-image: url("/img/BackgroundYellow.jpg");
    background-size: cover;
    background-position: center 37%;
    filter: blur(4px);
    z-index: -1;
}

.main::after {
    content: "";
    position: absolute;
    inset: 0;
    outline: 5px solid #e3cc93;
    filter: blur(4px);
    pointer-events: none;
}

.footer::before
{
    background-image: url('/img/BackgroundBlue.jpg');
    z-index: -3;
    background-position: center 65%; /* Stick to bottom */
    background-attachment: local; /* This might need adjustment */
    filter: blur(1px);
}

.footer::after
{
    content: "";
    position: absolute;
    inset: 0;
    outline: 5px solid #2b2a63;
    filter: blur(4px);
    pointer-events: none;
}

.header a:link
{
    color: rgb(223, 223, 223);
}
.header p::first-letter
{
    font-size: 27px;
}

#nav-buttons
{
    display: flex; justify-content: center
}

.main
{
    /* background-color: var(--main-background-color); */
    padding: 1em;
    position: relative;
    word-spacing: 4px;
    display: flex;
}

.footer
{
    /* background-color: var(--footer-background-color); */
    padding: 1em;
    position: relative;
}

.footer p 
{
    margin: 0;
}

.below-footer
{
    background-image: url(/img/YunoGasai.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20%;
    background-size: contain;
    width: 40%;
    min-height: 80px;
    height: 40vh;
    max-height: 70px;
    margin: 0 auto;
    filter: blur(2px);
}

.round-crop-image
{
    border-radius: 0%;
    transition: border-radius 0.2s ease;
}

.round-crop-image:hover
{
    border-radius: 50%;
    border: 2px solid;
}

.screenshots-review
{
    width: 500px;
}

.gray-emoji
{
    filter: saturate(0);
}

.main-left
{
    flex: 2;
}

.main-right
{
    flex: 1;
}

.tag-entity
{
    
}